body {
  background-color: #ffe7c8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* 去除a标签的默认样式 */
a {
  text-decoration: none; /* 去除下划线 */
  color: inherit; /* 继承父元素的颜色 */
}

/* 如果需要特定颜色 */
a.custom-link {
  color: black; /* 设置为黑色，或其他你需要的颜色 */
}

/* 去除点击后的默认样式 */
a:visited {
  color: inherit; /* 继承父元素的颜色 */
}

/* 悬停效果 */
a:hover {
  /* color: blue; 设置悬停时的颜色 */
  text-decoration: underline; /* 悬停时显示下划线 */
}

/* 聚焦效果 */
a:focus {
  outline: none; /* 去除焦点边框 */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  color: #333;
}

.category {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  padding: 20px;
  transition: background-color 0.3s;
}
.category:hover {
  background-color: #f0d8b8;
}
.category h2 {
  margin: 0 0 10px;
  color: #555;
}
.category p {
  margin: 0;
  color: #777;
}
