@import "flex";
@import "astyle";
@import "about-animation";
@import "./icon/icon.css";

body {
  display: flex;
  width: 60%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffeecc, #e7feff);
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

label {
  font-weight: bold;
}

.base-info {
  width: 25%;
  min-height: 100vh;
  background-color: #59dbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
  animation: move-in-to-left 0.5s ease-in-out forwards;

  .base-info-title {
    $t: 1s;
    $d: 1s;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0;
    animation: move-in-to-top $t $d ease-in-out forwards,
      opacity-show $t $d ease-in-out forwards;
  }
}
.long-info {
  width: 75%;
  min-height: 100vh;
  background-color: #e7feff;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);
  animation: move-in-to-right 0.5s ease-in-out forwards;
}
.avatar {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  @include flexCenter;
  overflow: hidden;
  opacity: 0;
  animation: opacity-show 1s 0.5s ease-in-out forwards;
}
.list {
  $t: 1s;
  $d: 2s;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  animation: move-in-to-top $t $d ease-in-out forwards,
    opacity-show $t $d ease-in-out forwards;
  span {
    margin-bottom: 5px;
  }
}

// 求职意向
.intention {
  padding: 20px;
  .info {
    $t: 1s;
    $d: 3s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    opacity: 0;
    animation: move-in-to-top $t $d ease-in-out forwards,
      opacity-show $t $d ease-in-out forwards;
  }
}

.my-name {
  $t: 1s;
  $d: 2s;
  margin-top: 0;
  color: #258fc9;
  opacity: 0;
  animation: grow $t $d ease-in-out forwards,
    opacity-show $t $d ease-in-out forwards;
}

.long-info-title {
  $t: 1s;
  --d: 2s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 10px;
  margin-bottom: 10px;
  opacity: 0;
  animation: move-in-to-top $t var(--d) ease-in-out forwards,
    opacity-show $t var(--d) ease-in-out forwards;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  .icon {
    flex: 1;
    $r: 30px;
    width: $r;
    height: $r;
    color: #fff;
    background-color: #2690c9;
    border-radius: 50%;
    margin-right: 10px;
    @include flexCenter;
    overflow: hidden;
  }
  .text {
    flex: 20;
    $color: #258fc9;
    color: $color;
    border-bottom: 3px solid $color;
    h2 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 5px;
    }
  }
}

.item {
  position: relative;
  margin-bottom: 10px;
  .title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    color: #2690c9;
  }
  ul {
    margin: 0;
    label {
      font-weight: bold;
    }
    li {
      margin-bottom: 5px;
    }
  }
}
