.heart {
  $r: 100px;
  width: $r;
  height: $r;
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translate(-50%, -50%) rotate(30deg);

  background-color: red;
  filter: blur(4px);
  z-index: -3;
  animation: scale 2s linear 1;
}

.heart::before {
  content: "";
  position: absolute;
  $r: 100px;
  width: $r;
  height: $r;
  background-color: red;
  transform: translateX(-50%);
  border-radius: 50%;
}

.heart::after {
  content: "";
  position: absolute;
  $r: 100px;
  width: $r;
  height: $r;
  background-color: red;
  transform: translateY(-50%);
  border-radius: 50%;
}


@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(0) rotate(30deg);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.2) rotate(30deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(30deg);
  }
}
