@charset "UTF-8";
/* 去除a标签的默认样式 */
a {
  text-decoration: none; /* 去除下划线 */
  color: inherit; /* 继承父元素的颜色 */
}

/* 如果需要特定颜色 */
a.custom-link {
  color: black; /* 设置为黑色，或其他你需要的颜色 */
}

/* 去除点击后的默认样式 */
a:visited {
  color: inherit; /* 继承父元素的颜色 */
}

/* 悬停效果 */
a:hover {
  color: blue; /* 设置悬停时的颜色 */
  text-decoration: underline; /* 悬停时显示下划线 */
}

/* 聚焦效果 */
a:focus {
  outline: none; /* 去除焦点边框 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffe4a1 10%, transparent);
}

@keyframes articleMoveIn {
  0% {
    transform: translateY(300px);
  }
}
@keyframes titleScale {
  0% {
    transform: translateX(-50%) scale(0);
  }
  80% {
    transform: translateX(-50%) scale(1.2);
  }
  100% {
    font-size: 3em;
    transform: translateX(-50%) scale(1);
  }
}
@keyframes gradient {
  50% {
    background-position: 400%;
  }
}
@keyframes infoMoveIn {
  0% {
    transform: translateX(-300px);
  }
  80% {
    transform: translateX(10px);
  }
}
@keyframes bgMoveIn {
  0% {
    transform: translateY(-300px);
  }
}
body {
  background: #ffe6c8;
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 100vw;
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 4em;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .font-effect-1 {
  background: linear-gradient(to right, #ff4935, #085dfd, #00bfff, #b700ff, #ff4935);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
}
.container .title {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 3;
  font-size: 0em;
  animation: gradient 10s linear infinite, titleScale 1s 1.5s ease-in-out forwards 1;
}

.info {
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 20px 20px 20px rgb(255, 237, 198);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: infoMoveIn 1s ease-in-out forwards 1;
}
.info .about:hover {
  cursor: pointer;
}
.info .info-item {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.tool {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 20px 20px 20px rgb(255, 237, 198);
  animation: infoMoveIn 2s ease-in-out forwards 1;
}

.top-background {
  width: 100%;
  height: 300px;
  background-color: #fff;
  background-image: url("https://thumb.photo-ac.com/8e/8e16a99384722ecc33d27830684a2bf5_t.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 40% 40%;
  animation: bgMoveIn 1s linear forwards 1;
}

.article {
  width: 77%;
  min-height: 368px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 20px 20px 20px rgb(255, 237, 198);
  padding: 10px 20px;
  animation: articleMoveIn 1s ease-in-out forwards 1;
}
.article .article-title {
  margin-bottom: 10px;
}
.article .article-title:hover {
  cursor: pointer;
}
.article .article-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=index.css.map */
